/*Estilos de Delivery*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato&display=swap');
body{
    background-color: #f0ede6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
h1{
    font-family: 'Bangers', cursive;
    font-size: 40px;
}
h2{
    font-family: 'Bangers', cursive;
    font-size: 32px;
}
h3{
    font-family: 'Bangers', cursive;
    font-size: 22px;
}
p{
    font-family: 'Lato', sans-serif;
    color: #352621;
    font-size: 18px;
}
.Estilo_Navegación{
    background-color: #ffa53d;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: -1.5%;
    margin-bottom: 1%;
    text-align: center;
    display: flex;
}
.Estilo_Navegación img{
    text-align: center;
    margin-top: 3%;
}
.menúnav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    font-size: 18px;
    margin-top: 0%;
    padding-top: 3%;
}
.menúnav ul{
    list-style: none;
}
.menúnav ul li{
    display: inline-block;
}
.menúnav ul li a{
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
}
.menúnav ul li a:hover{
    color: #F1F0F0;
    border-bottom: 1px solid;
}
.header{
    width: 60%;
    margin-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: -2%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
    color: #352621;
    border-radius: 15px;
}
.Contenedor_delivery{
    background-color:  #ffa53d;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    border-radius: 30px;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .Box_perfil{
        background-color: #ffffff;
        width: 300px;
        height: 280px;
        margin-left: 2.5%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    }
    .Box_perfil img{
        width: 300px;
        height: 280px;
        text-align: center;
        color: #000000;
        border-radius: 15px;
    }
    .Box_especiales{
        background-color: #ffffff;
        width: 300px;
        height: 231px;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 2%;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Box_redes{
        background-color: #ffffff;
        width: 300px;
        height: 231px;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 2%;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Box_redes a{
        color: #352621;
        text-decoration: none;
    }
    .Box_redes a:hover{
        color: #000000;
        text-decoration: none;
    }
.footer{
    background-color: #000000;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
}
.footer p{
    font-size: 14px;
    color: #F1F0F0;
}
#Autor{
    text-align: center;
}